body {
    width: 800px;
}

h2 {
    color: #298b8b;
    font-weight: 700;
}

h3 {
    color: #30a7a7;
    font-weight: 300;
}

fieldset#Customer-info div.customer {
    margin-left: 40px;
}

fieldset#Customer-info input.customer {
    width: 50%;
}

fieldset#Books #books {
    width: 45%;
    margin-left: 40px;
}

fieldset#Books input#quantity {
    width: 25%;
}

input[type=submit] {
    border: 1px #2d2dd1 solid;
    border-radius: 3px;
}