@media (min-width: 800px) {

    #header {
        background-image: url(../img/man-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        position: relative;
    }

    h1 {
        position: absolute;
        color: white;
        margin-top: 200px;
        margin-left: 30px;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    #header {
        background-image: url(../img/man-2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        position: relative;
    }

    h1 {
        position: absolute;
        color: white;
        margin-top: 100px;
        right: 30px;
    }
}

@media (max-width: 500px) {
    #header {
        background-image: url(../img/man-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50%;
        position: relative;
        text-align: center;
    }
    
     h1 {
        position: absolute;
         color: black;
        margin-top: 350px;
         margin-left: 30%;
         
    }

}