@media (min-width: 1000px) {
    
    img {
        width: 100%;
    }
    
    header {
        top: 30vw;
        left: 4vw;
        position: absolute;
    }
    
    img[alt=img2] {
        opacity: 0;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    header {
        top: 20vw;
        right: 4vw;
    }
    
    
    
}

@media (max-width: 700px) {
    header {
        color: black;
        text-align: center;
        
    }
        img[alt=img2] {
        opacity: 0;
    }
}