img {
    width: 100%;
    position: absolute;
}

figure{
    position: relative;
}

header {
    position: absolute;
    font-size: 2vw;
    color: white;
    font-weight: 900;
}

span {
    font-size: 3vw;
}