figure{
    position: relative;
    height: 100vh;
}

header {
    font-size: 2vw;
    color: white;
    font-weight: 900;
}

span {
    font-size: 3vw;
}

img {
    position: absolute;
    width: 100%;
}